.variant-div > h5 {
  color: var(--p-color);
  text-align: left;
  font-size: 2.5em;
  font-weight: 600;
  /* background-color: #f6faff; */
}
.variant-div {
  margin: 4em;
}

.variant-div > p {
  text-align: left;
  color: lightgrey;
  font-size: 16px;
}

.variant-select-div {
  background-color: #f6faff;
  border-radius: 8px;
  margin: 5px;
  padding: 1em;
  border: solid 0.5px lightgrey;
  

}

.vertical-hr {
  transform: rotate(90deg);
  width: 100px;
  margin-top: 5em;
}

.select-label {
  font-size: 20px;
  text-align: left;
}

/* select css */
/* .select-css {
  border: solid 2px var(--p-color);
  color: var(--p-color);
  padding: 5px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23ADD8E6' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/></svg>");
} */
.select-css {
  border: solid 2px var(--p-color);
  color: var(--p-color);
  padding: 5px;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  background-color: #f6faff;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23ADD8E6' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/></svg>");
  
}

/* list css */
.list-css {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px; 
  max-height: 150px;
  overflow-y: auto; 
  text-align: left;
}

.list-css ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-css li {
  padding: 8px 12px;
  color: var(--p-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.list-css li:hover {
  background-color: #f0f0f0; 
}


.list-css li.selected {
  background-color: #007bff; 
  color: #fff;
}

/* .select-css option {
  color: var(--p-color);
  padding: 8px;
  border-radius: 10px;
  width: 200px; 
  margin-top: 1em;
} */

/*  */

.input-label {
  margin-top: 10px;
  text-align: left;
  margin-bottom: 3em;
}

.input-label > h5 {
  font-size: 20px;
}

.horizontal-hr {
  width: 50%;
  margin: 0.5em auto 2em;
}

.helper-text {
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
}

.launch-btn {
  width: 30%;
}

.info-alt {
  height: 40px;
  margin: 0;
}

.text-field {
  border: solid red;
}

.adorn-input {
  color: var(--p-color);
}