.variant-div > h5 {
  color: var(--p-color);
  text-align: left;
  font-size: 2.5em;
  font-weight: 600;
  /* background-color: #f6faff; */
}
.variant-div {
  margin: 4em;
}

.variant-div > p {
  text-align: left;
  color: lightgrey;
  font-size: 16px;
}

.variant-select-div {
  background-color: #f6faff;
  border-radius: 8px;
  margin: 5px;
  padding: 1em;
  border: solid 0.5px lightgrey;
}

.vertical-hr {
  transform: rotate(90deg);
  width: 100px;
  margin-top: 5em;
}

.select-label {
  font-size: 20px;
  text-align: left;
}

/* select css */
.select-css {
  border: solid 2px var(--p-color);
  color: var(--p-color);
  padding: 5px;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23ADD8E6' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/></svg>");
}


.select-css option {
  color: var(--p-color);

  padding: 8px;
  border: solid 1px lightblue;
  border-radius: 4px;
}


.select-css option:hover {
  background-color: lightcyan;
}

.input-label {
  margin-top: 10px;
  text-align: left;
  margin-bottom: 3em;
}

.input-label > h5 {
  font-size: 20px;
}

.horizontal-hr {
  width: 50%;
  margin: 0.5em auto 2em;
}

.helper-text {
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
}

.launch-btn{
    width: 30%;

}
