.curved-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: #dfeaff;
    z-index: -1; 
    border-bottom-left-radius: 50% 56%;
    border-bottom-right-radius: 50% 56%;
  }
  
  